body {
    font-family: Montserrat;
    background-color: #EDE9E9;
}

.default-monochrome-black-1 {
    text-decoration: none;
    position: absolute;
    top: 27px;
    left: 22px;
    width: 233px;
    height: 43px;
    overflow: hidden;
    font-size: 8px;
    color: inherit;
}

.creating-better-future {
    position: absolute;
    height: 18.6%;
    width: 100%;
    top: 81.4%;
    right: -0.43%;
    bottom: 0;
    left: 17.6%;
    letter-spacing: 0.62em;
    line-height: 101.9%;
    display: inline-block;
}

.c21dc1-c604-4177-a426-d89dd448-icon {
    height: 100%;
    width: 13.32%;
    right: 86.48%;
    bottom: 0;
    left: 0.2%;
}


.f632c94-ccb6-46fb-86ae-92e3266-icon {
    position: absolute;
    height: 66.67%;
    width: 82.39%;
    top: 0;
    right: 0.19%;
    bottom: 33.33%;
    left: 17.42%;
    max-width: 100%;
    max-height: 100%;
}

.header-nav {
    position: absolute;
    top: 35px;
    left: 360px;
    width: 855px;
    height: 32px;
}

.header-nav-item1 {
    position: absolute;
    text-decoration: none;
    top: 0;
    left: 0;
    display: inline-block;
    width: 165px;
    height: 26px;
    text-align: left;
    font-size: 22px;
    color: #000;
}

.header-nav-item2 {
    position: absolute;
    text-decoration: none;
    top: 2px;
    left: 204px;
    display: inline-block;
    width: 222px;
    height: 26px;
    text-align: left;
    font-size: 22px;
    color: #000;
}

.header-nav-item3 {
    position: absolute;
    text-decoration: none;
    top: 3px;
    left: 379px;
    display: inline-block;
    width: 196px;
    height: 26px;
    text-align: left;
    font-size: 22px;
    color: #000;
}

.header-nav-item4 {
    position: absolute;
    text-decoration: none;
    top: 3px;
    left: 615px;
    display: inline-block;
    width: 165px;
    height: 26px;
    text-align: left;
    font-size: 22px;
    color: #000;
}

.header-nav-item5 {
    position: absolute;
    text-decoration: none;
    top: 5px;
    left: 752px;
    display: inline-block;
    width: 165px;
    height: 26px;
    text-align: left;
    font-size: 22px;
    color: #000;
}

.group-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    left: 950px;
    width: 90px;
    height: 35px;
}
 
.eng-div {
    position: absolute;
    height: 80%;
    width: 55.56%;
    top: 11.43%;
    right: 22.22%;
    bottom: 8.57%;
    left: 22.22%;
    font-size: 22px;
    font-family: Montserrat;
    color: #fff;
    text-align: center;
    display: inline-block;
}

.section-title {
    position: absolute;
    top: 331px;
    left: 131px;
    font-size: 40px;
    display: inline-block;
    width: 478px;
    height: 140px;
}

.here-you-can-find-test-centers {
    position: absolute;
    top: 495px;
    font-size: 20px;
    line-height: 30px;
    width: 510px;
    height: 65px;
    left: 131px;
    display: inline-block;
}

.button {
    cursor: pointer;
    border: 0;
    padding: 26px 182px 39px 60px;
    background-color: transparent;
    position: absolute;
    top: 583px;
    left: 131px;
    border-radius: 30px;
    background: linear-gradient(-86.13deg, #ef0f0f, #ff5a44);
    box-shadow: 1px 2.5px 3px rgba(0, 0, 0, 0.5);
    width: 350px;
    height: 77px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
}

.search-for-centers {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    font-family: Montserrat;
    color: #fff;
    text-align: left;
    display: flex;
    align-items: center;
    width: 228px;
    height: 23px;
    flex-shrink: 0;
}

.blood-drop-svgrepo-com-1-icon {
    position: absolute;
    top: 250px;
    left: 860px;
    width: 512px;
    height: 512px;
    overflow: hidden;
}

.our-offerings-b {
    position: absolute;
    top: 994px;
    left: 131px;
    font-size: 30px;
    line-height: 30px;
    display: inline-block;
    width: 222px;
    height: 40px;
}

.group-icon {
    position: absolute;
    top: 1098px;
    left: 131px;
    width: 118px;
    height: 118px;
}

.information-portal-div, .psychological-support-div, .test-centers-div1 {
    position: absolute;
    font-size: 22px;
    top: 1105px;
    left: 264px;
    font-weight: 500;
    display: inline-block;
    width: 182px;
    height: 29px;
}

.a-map-where-you-can-look-for-c, .here-you-can-find-essential-in, .search-for-most-suitable-cente {
    position: absolute;
    top: 1143px;
    left: 264px;
    font-size: 20px;
    display: inline-block;
    width: 215px;
    height: 68px;
}

.information-portal-div, .psychological-support-div {
    top: 1102px;
    left: 650px;
    width: 210px;
}

.here-you-can-find-essential-in, .search-for-most-suitable-cente {
    top: 1137px;
    left: 650px;
    width: 272px;
}

.psychological-support-div {
    top: 1101px;
    left: 1113px;
    width: 251px;
}

.search-for-most-suitable-cente {
    left: 1114px;
}

.group-icon1, .rectangle-div1 {
    position: absolute;
    top: 1098px;
    left: 979px;
    width: 118px;
    height: 118px;
}

.group-div {
    position: absolute;
    top: 1098px;
    left: 515px;
    width: 118px;
    height: 118px;
}

.rectangle-div {
    top: 0;
    left: 0;
    border-radius: 13px;
    background-color: #ff4841;
    position: absolute;
    width: 118px;
    height: 118px;
}

.microscope-svgrepo-com-1-icon {
    position: absolute;
    top: 18.88px;
    left: 18.88px;
    border-radius: 13px;
    width: 80.24px;
    height: 80.24px;
    overflow: hidden;
}

.health-issues-b, .our-offerings-b, .who-are-we {
    position: absolute;
    top: 994px;
    left: 131px;
    font-size: 30px;
    line-height: 30px;
    display: inline-block;
    width: 222px;
    height: 40px;
}

.health-issues-b, .who-are-we {
    top: 1320px;
    width: 213px;
}

.group-div2.animate {
    animation: 1s ease 0s 1 normal forwards fade-in;
}

.group-div2 {
    top: 1419px;
    left: 100px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 30px;
    border-radius: 61px;
}

.group-div2, .rectangle-icon1 {
    position: absolute;
    width: 355px;
    height: 550px;
}

.rectangle-div1 {
    top: 0;
    left: 0;
    border-radius: 61px;
    background-color: #fff;
    width: 355px;
    height: 550px;
}

.rectangle-icon1 {
    top: 0;
    left: 0;
    border-radius: 61px;
}

.genetic-diseases-div {
    position: absolute;
    top: 288px;
    left: 42px;
    line-height: 30px;
    font-weight: 500;
    display: inline-block;
    width: 271px;
    height: 36px;
}

.the-cause-of-many-blood-disord {
    position: absolute;
    top: 339px;
    left: 51px;
    font-size: 22px;
    line-height: 30px;
    text-align: left;
    display: inline-block;
    width: 263px;
    height: 137px;
}

.dna-1811955-1-icon {
    position: absolute;
    top: 38px;
    left: 40px;
    border-radius: 61px;
    width: 274px;
    height: 225px;
    object-fit: cover;
}

.group-div3.animate {
    animation: 1s ease 0.3s 1 normal forwards fade-in;
}

.group-div3 {
    position: absolute;
    top: 1419px;
    left: 539.02px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    width: 355px;
    height: 550px;
    text-align: center;
    font-size: 30px;
    border-radius: 61px;
}

.group-div4.animate {
    animation: 1s ease 0.6s 1 normal forwards fade-in;
}

.group-div4 {
    position: absolute;
    top: 1419px;
    left: 978.05px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    width: 355px;
    height: 550px;
    text-align: center;
    font-size: 28px;
    border-radius: 61px;
}

.group-icon2, .group-icon3, .image-1-icon {
    position: absolute;
    top: 1649px;
    width: 53px;
    height: 53px;
    left: 20px;
    cursor: pointer;
}

.group-icon3, .image-1-icon {
    left: 1364px;
}
